body{
    /* margin: 5px 50px 0px 130px; */
}
.card-container{
    display: inline-flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin: 30px 20px 0px 20px; 
    /* grid-column-gap: 0px; */
    /* justify-content: space-between; */
}
.card-div{
    /* border: 2px solid dimgray; */
    justify-content: space-around;
    width: 15.7em;
    height: 290px;
    border-radius: 15px;
    /* margin: auto; */
    margin-top: 1%;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #000;
    color: #fefefe;
}
.card-img{
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.card-title, .card-price{
    text-align: center;
    text-transform: capitalize;
}
.card-title:hover, .card-price:hover{
    color: tomato;
}
