body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-div{
    width: 100vw;
    height: 5vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    background-color: #454545;
    color: #fefefe;
}
.nav-logo{
    text-align: center;
    margin-top: 0px;
}
.nav-ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
    text-align: center;
    margin-top: 5px;
}
.nav-li{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    color: #fefefe;
}
.nav-logo,.nav-li{
    cursor: pointer;
}
.nav-logo:hover,.nav-li:hover,.nav-link:hover{
    color: tomato;
}
@media (max-width: 580px) {
    .nav-div{
        display: block;
        height: 18vh;
        text-align: center;
    }
    .nav-logo{
        margin: auto;
    }
    .nav-ul{
        display: block;
    }
    .nav-li{
        margin-top: 1rem;
    }
}