.header-div{
    height: 60vh;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    background-image: url(../product/food/fishbarbeque.jpg);
    /* background-size: ; */
    background-repeat: no-repeat;
    background-size: 100vw 60vh;
    color: white;
    margin-top: -9px;
    padding: 0px 190px;
}
.header-h2{
    padding-top: 1em;
    font-size: 4rem;
    text-transform: uppercase;
}
.header-p{
    font-size: 2rem;
}
@media (max-width: 600px) {
    .header-div{
        height: 50vh;
        /* width: 503px; */
        /* border: 1px solid black; */
        /* text-align: center; */
        background-image: url(../product/food/shawarma.jfif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -24px;
        
    }
    .header-h2{
        font-size: 32px;
        /* border: 1px solid black; */
        width: 300px;
        text-align: center;
        margin-left: -4.3em;
        margin-top: 1em;
    }
    .header-p{
        font-size: 1.8rem;
        /* border: 1px solid white; */
        text-align: start;
        width: 350px;
        margin-left: -5em;
        margin-top: 0.5em;
    }
}
@media (min-width: 601px) and (max-width: 915px){
    .header-div{
        height: 50vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .header-h2{
        font-size: 2em;
        margin-top: 2em;
    }
    .header-p{
        font-size: 1.5em;
        /* margin-top: 3em; */
    }
}
.about1-container{
    background-color: #fefefe;
}
.about1-div{
    /* border: 1px solid black; */
    height: 40vh;
    width: 60vw;
    margin: auto;
    padding-top: 5vh;
    color: #000;
}
.about1-h2{
    text-transform: capitalize;
}
.about1-p{
    text-align: start;
}
.about1-btn{
    width: 40vw;
    background-color: #000;
    color: #fefefe;
    border: none;
    border-radius: 20px;
    height: 6vh;
}
.about1-link{
    text-decoration: none;
}
.mid-container{
    height: 50vh;
    background-color: aliceblue;
}
.mid-div{
    display: flex;
    justify-content: center;
    padding-top: 17.5vh;
}
.call-div{
    /* border: 1px solid black; */
    text-align: start;
    width: 27vw;
}
.visit-div{
    text-align: start;
    /* border: 1px solid black; */
    width: 27vw;
}
.serve-div{
    /* border: 1px solid black; */
    width: 27vw;
    height: 35vh;
    margin-top: -10vh;
    background-color: #fefefe;
}
.serve-h5{
    padding: 15% 0%;
    font-weight: 400;
}
.mid-h5{
    font-weight: 400;
}

@media (max-width: 600px){
    .about1-div{
        width: 80vw;
        height: 45vh;
        font-size: 1.2em;
        padding-top: 1.5vh;
    }
    .about1-h2{
        text-transform: capitalize;
    }
    .about1-btn{
        width: 40vw;
        background-color: #000;
        border: none;
        border-radius: 20px;
        height: 4.5vh;
        color: #fefefe;
    }
    .about1-link{
        text-decoration: none;
        /* background-color: #fefefe; */
    }
    .mid-div{
        display: grid;
        padding: 1.5em 0px;
    }
    .call-div, .visit-div, .serve-div{
        width: 80vw;
    }
    .visit-div{
        margin-top: 2em;
    }
    .serve-div{
        height: 20vh;
        margin-top: 2em;
    }

}
@media (min-width: 601px) and (max-width: 915px){
    .about1-div{
        height: 50vh;
    }
    .mid-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 7em;
        padding-left: 2em;
    }
}