
.header-div{
    max-width: 699px;
    min-height: 20vh;
    /* max-height: 40vh; */
    background-color:rgb(157, 149, 141);
    padding: 2em 0em;
    /* margin-top: -2vh; */
}
@media (max-width: 575px){
    .header-div{
        margin-top: -1.2em;
    }
}
.header-h2{
    font-size: 2rem;
    text-transform: capitalize;
    color: #fefefe;
}
.header-p{
    font-size: 1.3rem;
    color: #fefefe;
}
.about1-container{
    margin-bottom: 3vh;
}
.about1-h2{
    text-transform: capitalize;
}
.about1-btn{
    min-width: 40vw;
    /* max-width: 50vw; */
    min-height: 4vh;
    /* max-height: 5vh; */
    border: none;
    background-color: orange;
    color: #fefefe;
}
.mid-container{
    background-color: rgb(229, 233, 233);
    min-height: 30vh;
}
.call-div{
    margin-bottom: 2em;
}
.visit-div{
    margin-bottom: 2em;
}
@media (min-width: 700px){
    .header-div{
        min-height: 40vh;
        max-width: 100%;
    }
    .header-h2{
        font-size: 3rem;
    }
    .header-p{
        font-size: 2rem;
        min-width: 70vw;
        max-width: 80vw;
        margin: auto;
    }
    .about1-h2{
        font-size: 2.5rem;
    }
    .about1-p{
        min-width: 70vw;
        max-width: 80vw;
        margin: auto;
        font-size: 1.4rem;
        text-align: start;
        margin-bottom: 1em;
    }
    .about1-btn{
        min-width: 30vw;
        max-width: 40vw;
        min-height: 5vh;
        max-height: 7vh;
        font-size: 1.3rem;
    }
    .mid-div{
        display: flex;
        justify-content: space-evenly;
        padding: 5em 0em;
    }
    .call-div{
        max-width: 27vw;
        margin-top: 3em;
        text-align: start;
    }
    .visit-div{
        max-width: 27vw;
        text-align: start;
        margin-top: 3em;
    }
    .serve-div{
        max-width: 30vw;
        padding-top: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        background-color: #fefefe;
    }
}
